{% extends 'admin/base.html.twig' %}
{% block left_sidebar %}
    {% include 'admin/common/left-sidebar.twig' with { active: 'office_members' } %}
{% endblock %}

{% block main %}
<h3 class="page-title text-info">
    <span class="lnr lnr-briefcase"></span> Membres du bureau
    <span class="badge badge-info mb-2">{{ users|length }}</span>
</h3>
<div class="row">
    <div class="col-md-12 px-2">
        <!-- TABLE STRIPED -->
        <div class="panel">
            <div class="panel-heading">
            </div>
            <div class="panel-body px-2">
                <div class="table-responsive">
                    <table class="table table-bordered member-list">
                    {% if users is not empty %}
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom complet</th>
                                <th>Poste</th>
                                <th>Adresse</th>
                                <th>Téléphone</th>
                            </tr>
                        </thead>
                    {% endif %}
                        <tbody>
                            {% for user in users %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            <a href="{{ path('admin_user_show', {user: user.id}) }}">{{ user.username }}</a>
                                            {% if user.isBruise %}
                                                <i class="fa fa-circle text-primary font-12"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{ user.post }}</td>
                                        <td>{{ user.address }}</td>
                                        <td>{{ user.phone }}</td>
                                        <td>
                                            {% if user.membershipFee %}
                                                <i class="fa fa-check text-success"></i>
                                            {% else %}
                                                <i class="fa fa-minus text-warning"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                            {% else %}
                                <p class="text-center">Aucun membre n'est dans le bureau.</p>
                            {% endfor %}
                        </tbody>
                        {% if users is not empty and is_granted('ROLE_ADMIN') %}
                        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-danger">Voulez-vous vraiment supprimer <strong class="username"></strong> de la base de données ?</p>
                                        <p class="alert alert-danger"><span class="fa fa-warning"></span> Cette action est irréversible.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-lg float-left" data-dismiss="modal">Annuler</button>
                                        <form action="" method="POST" data-confirmation="true" id="delete-form">
                                        <input type="hidden" name="user[delete_token]" value="{{ csrf_token('user.delete_token') }}" />
                                        <button type="submit" id="btn-user-delete" class="btn btn-danger btn-lg">
                                            <span class="lnr lnr-trash"></span> Supprimer
                                        </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </table>
                        {% if users is not empty and is_granted('ROLE_ADMIN') %}
                        <div class="float-right py-3 mx-5">
                            <a href="#" data-toggle="modal" data-target="#removeUsersModal" class="text-danger">
                                <i class="lnr lnr-trash"></i> Supprimer tous les membres
                            </a>
                        </div>
                        <div class="modal fade" id="removeUsersModal" tabindex="-1" role="dialog" aria-labelledby="removeUsersModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="removeUsersModalLabel">Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-danger">Voulez-vous vraiment supprimer tous les membres de la base de données ?</p>
                                        <p class="alert alert-danger"><span class="fa fa-warning"></span> Cette action est irréversible.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-lg float-left" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_users_empty') }}" class="btn btn-danger btn-lg">
                                            <span class="lnr lnr-trash"></span> Tout supprimer
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                <div>
            </div>
        </div>
        <!-- END TABLE STRIPED -->
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% if is_granted('ROLE_ADMIN') %}
    <script>
        $("#confirmDeleteModal").on('show.bs.modal', function(e){
            button = $(e.relatedTarget)

            var modal = $(this);
            var userId = button.data('user-id')
            var username = button.data('username')

            modal.find('.username').text(username)
            modal.find('form').attr('action', '/admin/security/user/delete/' + userId)
        });

        $("#loadExcelFileModal").on('show.bs.modal', function(e){
            var modal = $(this);

            modal.find('#btn-upload-file').click(function(e){
                modal.find('form').attr('method', 'POST');
                modal.find('form').attr('action', '/user/load');
            })
        });

        const uploadButton = document.querySelector('.browse-btn');
        const fileInfo = document.querySelector('.file-info');
        const realInput = document.getElementById('users_data_excel');

        uploadButton.addEventListener('click', (e) => {
        realInput.click();
        });

        realInput.addEventListener('change', () => {
            const name = realInput.value.split(/\\|\//).pop();
            const truncated = name.length > 20 
                ? name.substr(name.length - 20) 
                : name;
            
            fileInfo.innerHTML = truncated;
        });
    </script>
    {% endif %}
{% endblock %}

